body{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.post-img{
    width: 100%;
    border-radius: 16px;
}
.post-header{
    position: relative;

}
.likes{
    position: absolute;
    bottom:0;
    margin:12px;
    background-color: #fff;
    padding: 4px 12px;
    border-radius: 30px;
    font-size: 14px;
}
.icons{
    padding: 10px;
    display: flex;
    justify-content: space-between;
}



/* breakpoints 
small  =>576px and less
medium less than 786
large => less than 992px
extra large => 1200px and above

media query => min and max
*/

@media(min-width: 586px){
    .post{
        width: 350px;
        border: 1px solid lightgray;
        padding: 10px;
        margin: 10px;
        border-radius: 16px
    }
    .main-container{
        margin-top: 50px;
        display: flex;
        justify-content: center;
    }
}
@media (max-width: 586px){
    .post{
        border: 1px solid lightgray;
        padding: 10px;
        margin: 10px;
        border-radius: 16px
    
    }
    .main-container{
        margin-top: 50px;
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
    }
}