.card{
    width: 600px;
    border: 1px solid lightgray;
    border-radius: 16px;
    padding: 10px;
    margin: 10px auto;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.card-img{
    width: 100%;
    border-radius: 16px;
}
.btn{
    background-color: #e44232;
    color: white;
    padding: 16px 36px;
    border: none;
    border-radius: 40px;
    position: fixed;
    bottom: 0;
    right: 0;
    margin: 24px;
}
.btn-white{
    background-color: white;
    color: black;
    padding: 16px 36px;
    border: none;
    border-radius: 40px;
}
.ad{
    position: sticky;
    top:0;
    width: 600px;
    margin: 10px auto;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif; 
}
.ad-img{
    width: 100%;
    border-radius: 16px;
}

.rel-div{
    position: relative;
    background-color: blueviolet;
    height: 400px;
    width: 600px;
    border-radius: 16px;
    margin: 50px auto
}

.abs-div{
    position: absolute;
    height: 100px;
    width: 100px;
    border-radius: 12px;
    background-color: white;
    margin: 24px;
    right: 0;
    bottom: 0;
}
.card-header{
    position: relative;
}
.tag{
    position:absolute;
    top:0;
    
    background-color: #fff;
    padding: 4px 18px;
    border-radius: 40px;
    font-size: 14px;
    margin:10px
}
.likes{
    position:absolute;
    bottom:0;
    
    background-color: #fff;
    padding: 4px 18px;
    border-radius: 40px;
    font-size: 14px;
    margin:10px
}
.hero{
    position: relative;
    width: 600px;
    border-radius: 16px;
    margin: 10px auto;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.hero-img{
    width: 100%;
    border-radius: 16px;
}

.hero-content{
    text-align: center;
    margin: 24px;
    position: absolute;
    top:0;
    color: white;
}
.icon{
    
}