body{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.post-img{
    width: 100%;
    border-radius: 16px;
}
.post-header{
    position: relative;

}
.likes{
    position: absolute;
    bottom:0;
    margin:12px;
    background-color: #fff;
    padding: 4px 12px;
    border-radius: 30px;
    font-size: 14px;
}
.icons{
    padding: 10px;
    display: flex;
    justify-content: space-between;
}

.post-container{
    width: 600px;
}

.sidebar{
    display: block;
    /* position: sticky; */
    top:0;
    width: 300px;
}

.logo{
    font-size: 22px;
    color: tomato;
    font-weight: bold;
    text-decoration: none;
}


.post p{
    font-size:15px;
    color: gray;
}
.user{
    margin-top: 10px;
    display: flex;
    align-items: center;
}
.user-img{
    height: 50px;
    border-radius: 50%;
}
.name{
    margin:0 8px;
}
.username{
    margin:0 8px
}

@media(min-width: 586px){
    
    .link{
        color: black;
        text-decoration: none;
        margin-left: 10px;
    }
    .post{
        width: 500px;
        border: 1px solid lightgray;
        padding: 10px;
        margin: 10px;
        border-radius: 16px
    
    }
}

@media(max-width: 586px){
    
    .link{
        color: black;
        text-decoration: none;
        margin-left: 10px;
    }
    body{
        background-color: rgb(244, 244, 244);
    }
    .post{
        padding: 12px;
        background-color: #fff;
        /* border: 1px solid lightgray; */
        margin: 10px;
        border-radius: 16px
    
    }
    
}
@media (min-width: 860px){
    .navbar{
        width: 860px;
        margin: 20px auto;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    .main-container{
        margin-top: 50px;
        display: flex;
        justify-content: center;
    }
}
@media (max-width: 860px){
    .alt-link{
        display: none;
    }
    .navbar{
        margin: 20px auto;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    .main-container{
        margin-top: 50px;
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
    }
}
.btn{
    background-color: black;
    color: white;
    padding: 14px 32px;
    border-radius: 12px;
    border:none;
}
