<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login Now</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" crossorigin="anonymous">
    <link rel="stylesheet" href="/css/style.css">
</head>

<body>

    <div class="container">
        <div class="row justify-content-center mt-5">
            <div class="col-md-8 text-cente  mt-5">
                <div class="d-flex user-flex">
                    <img src="/img/ashish.png" class="user" alt="">
                    <div class="">
                        <h2 class="fw-bold m-0">Good evening! Ashish</h2>
                        <p class="m-0 small">Welcome to codekaro </p>
                    </div>
                </div>
            </div>


        </div>
    </div>

    <div class="container">
        <div class="row justify-content-center mt-5">
            <div class="col-md-8 text-cente  mt-5">
                <h2 class="fw-bold">Clients List</h2>
                <table class="table">
                    <thead>
                      <tr>
                        <th scope="col">#</th>
                        <th scope="col">First</th>
                        <th scope="col">Email</th>
                        <th scope="col">Package</th>
                        <th scope="col">Actions</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr>
                        <th scope="row">1</th>
                        <td>Mark</td>
                        <td>Otto@gmail.com</td>
                      <td ><div class="l1">Beginner</div></td>
                      </tr>
                      <tr>
                        <th scope="row">2</th>
                        <td>Jacob</td>
                        <td>Thornton</td>
                        <td ><div class="l2">Advance</div></td>
                      </tr>
                      <tr>
                        <th scope="row">3</th>
                        <td>Yash</td>
                        <td>yash@gmail.com</td>
                        <td ><div class="l1">Beginner</div></td>
                        
                      </tr>
                    </tbody>
                  </table>

                </div>
            </div>
        </div>
    </div>
</body>

</html>