.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.card{
  transition: .2s;
  width: 280px;
  border-radius: 16px;
  margin-top: 12px;
  border: 1px solid lightgray;
  padding: 10px;
}
.card:hover{
  transform: rotate(3deg);
  border-radius: 18px;
  border: 1px solid white;
  box-shadow: 4px 6px 16px 8px #eee;
  cursor: pointer;
}
.card-img{
  width: 100%;
  border-radius: 16px;
}
.flex{
  display: flex;
  justify-content: center;
  gap: 12px;
  flex-wrap: wrap;
}
.card-header{
  position: relative;

}
.ratings{
  position: absolute;
  display: inline-block;
  bottom: 0;
  left: 0;
  margin:12px;
  background-color: #fff;
  padding: 4px 12px;
  font-size: 14px;
  border-radius: 6px;
}
.must-try{
  display: inline-block;
  margin:12px;
  background-color: rgb(225, 255, 225);
  color: green;
  padding: 4px 12px;
  font-size: 13px;
  border-radius: 6px;
}
.m-0{
  margin:0
}
.card-flex{
  display: flex;
  justify-content: space-between;
  align-items: center;
  
}
.d-none{
  display: none;
}