.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.container{
  text-align: center;
  width: 400px;
  margin: 60px auto;
}
input{
  border: 1px solid lightgray;
  padding: 15px;
  border-radius: 12px;
  font-size: 16px;
  width: 100%;
}
input:focus{
  border: 1px solid rgb(67, 67, 67);
  outline: none;

}
.btn{
  background-color: blueviolet;
  color: white;
  padding: 16px 32px;
  border: none;
  border-radius: 12px;
  margin-top: 12px;
  font-size: 16px;
  cursor: pointer;
  width: 100%;
}
.d-none{
  display: none;
}
.flex{
  display: flex;
  gap: 12px;
}
.container h1{
  font-size: 50px;
  margin: 0;
}