body{
    margin:0;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.container{
    
    margin: 0 auto;
}
.btn{
    background-color: black;
    color: white;
    padding: 16px 38px;
    border-radius: 12px;
    cursor: pointer;
    border:none;
    font-size: 16px;
    margin-top: 12px;
}
.card{
    width: 100%;
    margin: 0 auto;
    background-color: #fff;
    padding: 24px;
    border-radius: 16px;
    text-align: center;
}
input{
    padding: 15px;
    border-radius: 12px;
    font-size: 17px;
    border: 1px solid lightgray;
    width: 100%;
    margin-bottom: 12px;
}
.flex{
    display: flex;
    gap: 12px;
}
.card h1{
    margin: 0;
    font-size: 60px;
    color: orangered;
}
.container{
    display: flex;
    justify-content: space-between;
}
.left-container{
    width: 500px;
    margin: 50px auto;
    display: inline-block;
    height: 100%;
}
.add{
    width: 400px;
}
.right-container{
    background-color: bisque;
    width: 500px;
    height: 100vh;
    display: inline-block;
}
.right-container h2{
    padding: 12px;
}
.students{
    width:500px;
    padding: 12px;
    box-sizing: border-box;
}
.user{
    background-color: #ffffff;
    display: flex;
    gap:24px;
    border-radius: 6px;
    padding: 0 20px;
    width: 100%;
    box-sizing: border-box;
    margin-bottom: 12px;
}
.success{
    margin-top: 12px;
    background-color: rgb(220, 255, 220);
    color: green;
    padding:18px 20px;
    border-radius: 12px;
    display: inline-block;
}
.danger{
    margin-top: 12px;
    background-color: rgb(255, 220, 220);
    color: rgb(128, 0, 0);
    padding:18px 20px;
    border-radius: 12px;
    display: inline-block;
}